@media (max-width: 850px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .project-body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(205, 247, 233);
    margin: 0px;
    padding: 0px;
    justify-content: center;
    overflow: hidden;
  }

  .side-start {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0 auto;
  }

  .side-start > .background-art-work {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
  }
  .side-start > .background-art-work svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
  }

  .side-start > .content-overlay {
    width: 300px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    top: 50px;
    align-items: center;
    left: 50%;
    column-gap: 0px;
    row-gap: 0px;
    /* margin-left: -200px;  */
    transform: translateX(-50%);
  }
  .side-start > .content-overlay > .each-step {
    width: 60%;
    height: 60px;
    padding: 0px;
    margin: 0px;
  }
  .each-step > .activeBtn {
    width: 50px;
    height: 50px;
    padding-top: 12px;
    font-size: 20px;
    margin: 20px 0px 0px;
  }
  .side-start > .content-overlay > .each-step > .step-body {
    display: none;
  }

  .project-body > .whole-container {
    width: 100%;
    height: 800px;
    flex-direction: column;
    padding: 0px;
    z-index: 5;
    margin-top: -100px;
  }
  .project-body > .whole-container > .whole {
    width: 90%;
    height: 650px;
    background-color: #fff;
  }
  .btn-container {
    width: 100%;
    height: 100px;
    padding-top: 25px;
    background-color: rgb(205, 247, 233);
    margin-top: 50px;
  }
  .whole-container > .whole > .each-body {
    height: 100%;
    width: 100%;
    top: 0px;
    border-radius: 10px;
    padding: 40px auto 20px;
    z-index: 5;
    background-color: #fff;
    margin: 0 auto;
  }

  .step-one-body div,
  .each-body h1,
  .each-body h5 {
    width: 90%;
    margin: 0 auto;
  }
  .step-one-body {
    width: 100%;
    margin: 0 auto;
  }
  .step-one-body div {
    margin-top: 30px;
  }
  .step-one-body div > label {
    font-size: 24px;
  }
  .step-one-body div > input {
    width: 100%;
    height: 60px;
  }

  .left input {
    width: 40px;
    height: 40px;
  }

  .step-two-body > .cards {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .step-two-body > .cards > .card {
    padding-top: 0px;
    width: 90%;
    height: 80px;
    margin: 7px auto 0;
    display: flex;
    align-items: center;
  }
  .step-two-body > .cards > .card > .plan-div {
    margin-left: 20px;
    margin-top: -15px;
  }
  .step-two-body .card h4 {
    margin-top: 20px;
  }
  .plan-switch {
    width: 90%;
    margin: 0 auto;
  }

  .each-body > .step-three-container {
    width: 90%;
  }

  .attribution {
    display: none;
  }
}
@media (max-width: 450px) {
  .project-body {
    width: 100%;
    height: auto;
  }
  .side-start > .background-art-work {
    width: 100%;
  }
  .side-start > .background-art-work > svg {
    width: 100%;
  }
  .side-start > .content-overlay {
    top: 15px;
  }
  .project-body > .whole-container {
    margin-top: -198px;
    height: 800px;
  }
  .project-body > .whole-container > .whole {
    height: 670px;
    overflow-y: hidden;
  }

  .whole-container > .whole > .each-body {
    padding: 40px 0px 20px 15px;
    height: 100%;
  }
  .step-one-body div,
  .each-body h1,
  .each-body h5 {
    width: 100%;
    margin: 0 auto;
  }
  .step-two-body > .cards,
  .plan-switch,
  .each-body > .step-three-container,
  .step-four-container {
    padding-right: 15px;
  }
  .step-four-container {
    width: 100%;
    padding-right: 15px;
  }
  .each-body h5 {
    margin-top: 10px;
  }
  .step-one-body div {
    margin-top: 35px;
  }

  .step-one-body div > input {
    width: 95%;
  }
  .step-four-container {
    margin-top: 50px;
    margin-left: -7px;
  }
  .btn-container {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .project-body .each-body {
    width: 300px;
    height: 600px;
    margin: 0 auto;
    top: 99px;
  }
  .btn-container {
    top: 700px;
  }
  .step-one-body div {
    margin-top: 25px;
  }
  .whole-container > .whole > .each-body {
    width: 100%;
    padding: 40px 0px 20px 10px;
  }
  .step-four-container {
    width: 100%;
    margin-left: -5px;
    padding-right: 0px;
  }
}
