*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
  font-weight: medium;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
  font-weight: regular;
}

body {
  width: 100%;
  height: 100vh;
  height: auto;
  background-color: rgb(205, 247, 233);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* text-align: center; */
}
.project-body {
  position: relative;
  background-color: #fff;
  width: 970px;
  max-width: 1000px;
  height: 650px;
  margin: 70px auto 0px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
}

/* =========SIDE START STYLE */

.side-start {
  position: relative;
  width: 300px;
  height: 95%;
  border-radius: 10px;
  /* background-color: rgb(100, 100, 250); */
  color: #fff;
  margin-top: 1.5%;
  margin-left: 1.5%;
}
.side-start > .background-art-work {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.side-start > .background-art-work svg {
  width: 100%;
  height: auto;
}

.side-start > .content-overlay {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 3;
}
.side-start > .content-overlay > .each-step {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  padding: 0px;
}
.each-step > .activeBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  text-align: center;
  padding-top: 6px;
  margin-left: 40px;
  border-radius: 1998px;
  cursor: pointer;
}
.each-step > .step-body {
  margin-left: 30px;
}

.step-body h5 {
  font-family: "Ubuntu", Fallback, sans-serif;
  font-weight: lighter;
  color: hsl(0, 7%, 81%);
}
.step-body h3 {
  font-family: "Ubuntu", Fallback, sans-serif;
  font-weight: 600;
}

/* =========STEP ONE BODY STYLES ===========*/
.project-body > .whole-container {
  position: relative;
  width: 650px;
  height: auto;
  font-family: "Ubuntu", Fallback, sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  /* border: 1px solid red; */
}
.project-body > .whole-container > .whole {
  position: relative;
  /* width: 100%; */
  width: 500%;
  height: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  overflow-x: hidden;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  /* height: auto; */
  /* transition: transform 250ms ease-in; */
}
.whole-container > .whole > .each-body {
  position: absolute;
  top: 0;
  /* width:  100%; */
  width: 20%;
  height: auto;
  padding: 50px 50px 20px 50px;
  transition: transform 1s;
}
.each-body h1 {
  font-size: 45px;
  color: rgb(5, 5, 78);
}
.each-body h5 {
  color: hsl(0, 7%, 81%);
  font-size: 17px;
  margin-top: 5px;
  font-weight: 200;
}
.step-one-body div {
  width: 100%;
  height: auto;
  margin-top: 35px;
  color: rgb(5, 5, 78);
}

::placeholder {
  color: hsl(0, 7%, 81%);
  font-size: 16px;
  font-weight: 500;
}
.step-one-body div > label {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.step-one-body div > input {
  width: 95%;
  height: 50px;
  border-radius: 5px;
  /* border: 2px solid #000; */
  margin-top: 5px;
  font-size: 18px;
  padding-left: 15px;
  outline: #9e8585;
}

.btn-container {
  width: 100%;
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-container > button {
  width: 100px;
  height: 40px;
  color: #fff;
  background: rgb(5, 5, 78);
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}
.btn-container .next {
  margin-right: 10px;
}
.btn-container .prev {
  background-color: #fff;
  color: hsl(0, 7%, 81%);
  border: none;
  font-weight: 700;
}
.btn-container .prev:hover {
  transform: scaleY(1.5);
}
.btn-hidden {
  opacity: 0;
}
.step-one-body {
  margin-left: 0%;
}
/*============= start up styles========= */
.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

/*============= step two styles========= */
.step-two-body > .cards {
  width: 100%;
  /* border: 1px solid #000; */
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}
.step-two-body > .cards > .card {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(5, 5, 78);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.step-two-body > .cards > .card:hover {
  border: 2px solid rgb(5, 5, 78);
  background-color: #a1a1ee;
}
.step-two-body .card h4 {
  margin-top: 70px;
  color: rgb(5, 5, 78);
  font-weight: 700;
}
.p1 {
  font-weight: 300;
  color: hsl(0, 7%, 81%);
  margin-top: 10px;
}
.plan-switch {
  width: 100%;
  height: 45px;
  background-color: rgb(205, 247, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  border-radius: 8px;
  cursor: pointer;
}
.plan-switch > .switch {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(5, 5, 78);
  text-align: center;
  padding-top: 5px;
}
.plan-switch > .switch > span {
  width: 40px;
  height: 45px;
  background-color: rgb(5, 5, 78);
  color: rgb(5, 5, 78);
  font-size: 18px;
  border-radius: 1998px;
}
.mo,
.yr {
  font-size: 18px;
  font-weight: 600;
  color: hsl(0, 7%, 81%);
}

/*============= step three styles========= */
/* .each-body > .step-three-container,
.each-body > .step-four-container, */
.final-step-container {
  width: 100%;
  height: auto;
  margin: 50px auto 0px;
  /* border: 1px solid #000; */
  padding-bottom: 20px;
  border-radius: 10px;
}
.each-body > .step-three-container {
  width: 90%;
  margin: 0 auto;
}

.each-body .step-three-container .card,
.first-line {
  width: 98%;
  margin: 30px auto 0px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: #9e8585;
}
/* .each-body > .step-three-container, */
/* .each-body > .step-four-container, */
.each-body .step-three-container .card {
  border: 1px solid rgb(5, 5, 78);
}

.each-body .step-three-container .card > label,
.first-line,
.second-lines,
.total-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card > label .left {
  display: flex;
  align-items: center;
}

.card > label > .left > .label {
  margin-left: 20px;
}
.left > .label .bold,
.first-line > .left p:first-child {
  color: rgb(5, 5, 78);
  font-weight: 700;
  font-size: 18px;
  margin-top: -5px;
}
.left > .label .light,
.first-line > .left p:last-child {
  color: hsl(0, 7%, 81%);
  font-weight: 100;
  font-size: 17px;
  margin-top: 5px;
}
.left input {
  width: 20px;
  height: 20px;
}
.card > label > .right {
  font-size: 18px;
  color: blue;
  font-weight: 100;
}

/*============= step four styles========= */
.step-four-container {
  background-color: rgb(205, 247, 233);
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  /* border: 1px solid hsl(0, 7%, 81%); */
}
.first-line {
  border: none;
  border-bottom: 1px solid hsl(0, 7%, 81%);
}
.first-line > .left p:last-child {
  text-decoration: underline;
  cursor: pointer;
}
.first-line > .right p,
.total-line {
  color: rgb(5, 5, 78);
  font-weight: 600;
  font-size: 20px;
}
.second-lines {
  height: 50px;
  /* border: 1px solid hsl(0, 7%, 81%); */
  border-bottom: 1px solid hsl(0, 7%, 81%);
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}
.second-lines > .add-on-picked,
.total {
  color: hsl(0, 7%, 81%);
  font-size: 20px;
}
.second-lines > .its-amount,
.total-line p {
  color: rgb(5, 5, 78);
}
.total-line {
  margin-top: 30px;
  padding: 20px;
}

/*============= final step styles========= */
.final-step-container {
  text-align: center;
  padding: 10%;
}
.final-step-container h1 {
  margin-top: 20px;
}
.final-step-container p,
.final-step-container p > a {
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}
.final-step-container p > a {
  text-decoration: none;
}
/* ===============js styles ===========*/
.indicator {
  color: rgb(5, 5, 78);
  background-color: rgb(205, 247, 233);
  font-weight: 600;
  font-family: "Ubuntu", Fallback, sans-serif;
}
.btnOpacity {
  opacity: 0;
}
.selected-plan0 {
  background-color: rgb(182, 221, 221);
  transition: transform 1s;
}
.selected-plan0 p {
  /* color: #fff; */
}
.plan-switch > .switch > span.selectedplanBtns {
  color: #fff;
  background-color: #fff;
  transition: transform 1s;
}
.hide {
  display: none;
}
.error {
  border: 2px solid red;
}
.period {
  font-weight: 700;
  color: rgb(5, 5, 78);
}
.contrastP {
  /* color: rgb(5, 5, 78); */
  color: whitesmoke;
  font-weight: 600;
}
